{{!-- Render pagination only if :pagination: is set on the current page (page- prefix is dropped) --}}
{{#unless (eq (lookup page.attributes 'pagination') undefined)}}
{{#if (or page.previous page.next)}}
<nav class="pagination">
  <!-- Switch page context to previous page -->
  {{#with page.previous}}
    <!-- Check attributes in page before (parent scope) -->
    {{#if (eq (lookup ../page.attributes 'hide-prev') undefined)}}
      <span class="prev"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
    {{/if}}
  {{/with}}  
  {{#with page.next}}
    {{#if (eq (lookup ../page.attributes 'hide-next') undefined)}}
      <span class="next"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
    {{/if}}
  {{/with}}
</nav>
{{/if}}
{{/unless}}
