{{#unless (eq page.attributes.pagination undefined)}}
{{#if (or page.previous page.next)}}
<nav class="pagination">
  {{#with page.previous}}
    {{#unless page.attributes.page-hide-prev}}
      <span class="prev"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
    {{/unless}}
  {{/with}}  
  {{#with page.next}}
    {{#unless page.attributes.page-hide-next}}
      <span class="next"><a href="{{{relativize ./url}}}">{{{./content}}}</a></span>
    {{/unless}}
  {{/with}}
</nav>
{{/if}}
{{/unless}}
