/* TEXT colors */
.aqua {
  color: #0ff;
}

.black {
  color: #000;
}

.blue {
  color: #00f;
}

.fuchsia {
  color: #f0f;
}

.gray {
  color: #808080;
}

.green {
  color: #008000;
}

.lime {
  color: #0f0;
}

.maroon {
  color: #800000;
}

.navy {
  color: #000080;
}

.olive {
  color: #808000;
}

.purple {
  color: #800080;
}

.red {
  color: #f00;
}

.silver {
  color: #c0c0c0;
}

.teal {
  color: #008080;
}

.white {
  color: #fff;
}

.yellow {
  color: #e6e600; /* slightly darker yellow for better readability */
}

/* BACKGROUND colors */
.bg-aqua {
  background-color: #0ff;
}

.bg-black {
  background-color: #000;
}

.bg-blue {
  background-color: #00f;
}

.bg-fuchsia {
  background-color: #f0f;
}

.bg-gray {
  background-color: #808080;
}

.bg-green {
  background-color: #008000;
}

.bg-lime {
  background-color: #0f0;
}

.bg-maroon {
  background-color: #800000;
}

.bg-navy {
  background-color: #000080;
}

.bg-olive {
  background-color: #808000;
}

.bg-purple {
  background-color: #800080;
}

.bg-silver {
  background-color: #c0c0c0;
}

.bg-teal {
  background-color: #008080;
}

.bg-white {
  background-color: #fff;
}

.bg-yellow {
  background-color: #ff0;
}
